body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;

}
.meni {
    background-color: #595959;
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;

}
h2{
    text-align: center;
    color: rgb(2, 102, 174);
    display: inline-block;
    margin-bottom: 10px;
    
}
.naslov img{
    margin-top:10px ;
    margin-left:10px;
}
.naslov h2{
    margin-left:35%;
}
.naslov{
    background-color: #59595959;
    margin-top: 0;
    margin-bottom: 0;
  
    
}
element.style {
    padding-top: 0px;
    margin-top: 0px;
}

.meni >li{
    display: inline-block;
    padding-right: 40px;
    padding-top: 0;
    font-size: 16px;
}

.meni > li > a{
    text-decoration: none;
    color: #ffffff;
}


.meni ul {
    padding: 0;
    margin: 0;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #59595959;
    color: white;
    text-align: center;
  }

.profesori{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5 , 2fr);
    gap:10px;
    font-family: sans-serif;
    color:black;
    text-align: center;
    margin-left: 29%;
    margin-bottom: 15px;
    margin-top: 15px;
    
    
}
.card1{
    background-color: #59595959;
    align-content: center;
    border: 1px solid black;
    color: black

}
.card1info{
    
}
.p1 {
    border: 1px solid black;
    margin: 0;
   margin-top: 15px;
   border-top: 2px solid black;
}
.p2 {
    border: 1px solid black;
    margin: 0;
}
.p3 {
    border: 1px solid black;
    margin: 0%;
}
.p4 {
    border: 1px solid black;
    margin: 0%;
}
.asistenti{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap:10px;
    font-family: sans-serif;
    color:black;
    text-align: center;
    margin-left: 35.7%;
    margin-right: 35.7%;
    margin-bottom: 50px;
    margin-top: 15px;
}
.asistenti img{
    margin-top: 15px;
}
.profesori img{
    margin-top: 15px;
}
.profesorii{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5 , 2fr);
    gap:10px;
    font-family: sans-serif;
    color:black;
    text-align: center;
    margin-left: 29%;
    margin-bottom: 15px;
    margin-top: 15px;
    
}
.asistentii{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4 , 3fr);
    gap:10px;
    font-family: sans-serif;
    color:black;
    text-align: center;
    margin-left: 33.55%;
    margin-bottom: 60px;
    margin-top: 15px;
}
.asistentii img{
    margin-top: 15px;
}
.profesorii img{
    margin-top: 15px;
}
.naslov2 {
    text-align: center;
    color: rgb(2, 102, 174);
    background-color: transparent;
}
.card2{
    background-color: transparent;
    align-content: center;
    border: 1px solid black;

}
a{
    color: white;
}
.lis{
    text-align: center;
    list-style: none;
    border: 1px solid black;
    margin: 0;
    padding: 0;
  

}
.lis li {
    border: 1px solid black;
}
.fotkica{
    margin-bottom: 15px;
}