body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;

}

.meni {
    background-color: #595959;
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;

}
h2{
    text-align: center;
    color: rgb(2, 102, 174);
    display: inline-block;
    margin-bottom: 10px;
    
}
.naslov{
    background-color: #59595959;
    margin-top: 0;
    margin-bottom: 0;
  
    
}
.naslov img{
    margin-top:10px ;
    margin-left:10px;
}
.naslov h2{
    margin-left:35%;
}
element.style {
    padding-top: 0px;
    margin-top: 0px;
}

.meni >li{
    display: inline-block;
    padding-right: 40px;
    padding-top: 0;
    font-size: 16px;
}

.meni > li > a{
    text-decoration: none;
    color: #ffffff;
}


.meni ul {
    padding: 0;
    margin: 0;
}
.list1 {
    display: inline-block;
    color:#000;
    margin-left: 95px;
    margin-top: 15px;
    text-align: center;
    border: 2px solid black;
    border-radius:10px;
    position: relative;
   
    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #59595959;
    color: white;
    text-align: center;
  }
.slika1 {
    display: inline-block;
    
}
.list2 {
    display:inline-block;
    color: #000;
    text-align: center;
    border: 2px solid black;
    border-radius:10px;
    list-style: none;
   
}

.list1 {
    color: #000;
   
}
.full{
    color: transparent;
    background-color: transparent;
    list-style: none;
}