body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;

}
.meni {
    background-color: #595959;
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;

}
h2{
    text-align: center;
    color: rgb(2, 102, 174);
    display: inline-block;
    margin-bottom: 10px;
    
}
.naslov img{
    margin-top:10px ;
    margin-left:10px;
}
.naslov h2{
    margin-left:35%;
}
.naslov{
    background-color: #59595959;
    margin-top: 0;
    margin-bottom: 0;
  
    
}
element.style {
    padding-top: 0px;
    margin-top: 0px;
}

.meni >li{
    display: inline-block;
    padding-right: 40px;
    padding-top: 0;
    font-size: 16px;
}

.meni > li > a{
    text-decoration: none;
    color: #ffffff;
}


.meni ul {
    padding: 0;
    margin: 0;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #59595959;
    color: white;
    text-align: center;
  }

.tabela1{
    width: 50%;
    text-align: center;
    border-collapse: collapse;
}
.tabela2{
    width: 50%;
    text-align: center;
    border-collapse: collapse;
    border: 1px dotted blue;
    margin-bottom: 50px;
    
   
}

.naslovtabele{
    background-color: #59595959;
    border: 1px solid black;
    border-collapse: collapse;
}
.podnaslovtabele{
    background-color: #59595959;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}
.predmeti{
    border: 1px solid black;
    border-collapse: collapse;
}
.tdtabele1{
    border: 1px dotted black;
}
.prazna{
    border: none;
    width: 40px;
    background-color: #59595959;
    
}
.ravno{
    display: inline-flex;
}
.pdn2{
    border: 1px dotted blue;
    border-collapse: collapse;
}
.dan{
    border: 1px dotted blue;
    border-collapse: collapse;
    background-color: #59595959;
}
.tabela2{
    border: 1px solid blue;
}
.predavanje{
    background-color: rgb(255, 209, 139);
    color: darkorange;
    border: 1px solid blue;
    border-collapse: collapse;
}
.lab{
    background-color: lightgreen;
    color: green;
    border: 1px solid blue;
    border-collapse: collapse;
}
.tut{
    background-color: lightskyblue;
    color: darkblue;
    border: 1px solid blue;
    border-collapse: collapse;
}
.kombinacija{
    border: 1px solid blue;
    border-collapse: collapse;
    background-color: lightslategray;
}
.naslovtabele2{
    background-color: #59595959;
    border: 1px solid blue;
    border-collapse: collapse;
}
.sat{
    border: 1px solid blue;
}